.section {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  margin: 2rem auto 0 0;
  gap: 2vw;
  position: relative;
  padding-right: 24px;
  z-index: 2;
}

.title {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-weight: 700;
  margin-bottom: 1rem;
}
.title span {
  display: block;
  color: #3abef9;
}
.subtitle {
  color: #b3b3b3;
  font-size: 1.05rem;
  max-width: 600px;
  margin: 0 auto 3rem 0;
  line-height: 1.6;
}

.calculator {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2.5rem;
  box-shadow: 0 8px 30px rgba(58, 190, 249, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputGroup label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.inputGroup input[type="range"] {
  width: 100%;
  margin: 0.5rem 0;
  cursor: pointer;
  accent-color: #3abef9;
}

.inputGroup span {
  color: #3abef9;
  font-weight: 600;
  font-size: 1rem;
}

.resultBox {
  margin-top: 2rem;
  background: rgba(58, 190, 249, 0.05);
  border: 1px solid rgba(58, 190, 249, 0.3);
  border-radius: 0.8rem;
  padding: 2rem 1rem;
  text-align: center;
}

.resultBox h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.result {
  font-size: 2rem;
  font-weight: 700;
  color: #3abef9;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.note {
  color: #b3b3b3;
  font-size: 0.9rem;
}
.get_offer {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #3abef9;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
}
.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1500px) {
  .section {
    padding: 0 20px 80px 0;
  }
}
@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 0;
  }
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 20px;
  }
  .get_offer{
    margin: 0 auto;
    display: block;
  }
}
