.wrapper {
  margin-top: 10vh;
  position: relative;
}

.content {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.title {
  font-size: calc(var(--index) * 5);
  font-weight: 700;
  line-height: calc(var(--index) * 6);
  margin-bottom: 1.5rem;
}

.accent {
  color: #3abef9;
}

.subtitle {
  font-size: calc(var(--index) * 0.1);
  color: #b3b3b3;
  margin-bottom: 3rem;
}

/* Кнопки */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.primaryBtn,
.secondaryBtn {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primaryBtn {
  background-color: #3abef9;
  color: #ffffff;
  border: none;
}

.primaryBtn:hover {
  background-color: #2da9e0;
  transform: translateY(-2px);
}

.secondaryBtn {
  background-color: transparent;
  border: 1px solid #555;
  color: #ddd;
}

.secondaryBtn:hover {
  border-color: #fff;
  color: #fff;
  transform: translateY(-2px);
}

/* Анимации появления */
.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
}
.next {
  position: absolute;
  z-index: 3;
  padding: 2rem;
  bottom: -50%;
  right: 10%;
  border: 1px solid #3abef9;
  border-radius: 10px;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1450px) {
  .subtitle {
    font-size: calc(var(--index) * 0.3);
  }
}
@media (max-width: 1250px) {
  .title {
    font-size: calc(var(--index) * 4);
    line-height: calc(var(--index) * 5);
  }
  .primaryBtn,
  .secondaryBtn {
    font-size: calc(var(--index) * 0.5);
    font-weight: 600;
    border-radius: 0.75rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
@media (max-width: 950px) {
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 20px;
  }
  .primaryBtn,
  .secondaryBtn {
    font-size: 16px;
  }
  .wrapper {
    margin-top: 5vh;
  }
}
