.section {
  position: relative;
  padding: 0 20px 80px 0;
}

.container {
  /* max-width: 1100px; */
  margin: 2rem auto 0 0;
  position: relative;
  z-index: 2;
}

.title {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  color: #b3b3b3;
  font-size: 1.1rem;
  margin: 0 auto 4rem;
  /* max-width: 600px; */
}

.timeline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
  position: relative;
}

.step {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  position: relative;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 290px;
}

.step:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(58, 190, 249, 0.15);
  border-color: rgba(58, 190, 249, 0.4);
}

.number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3abef9;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.stepTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.text {
  font-size: 0.95rem;
  color: #d1d1d1;
  line-height: 1.6;
}

/* Анимация появления */
.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .timeline {
    display: flex;
    flex-direction: column;
  }
  .step {
  max-width: none;
}
}
