/* components/Navbar.module.css */
.navbar {
/* position: fixed; */
width: 100%;
top: 0;
left: 0;
z-index: 20;
backdrop-filter: blur(8px);
background-color: rgba(0, 0, 0, 0.3);
border-bottom: 1px solid rgba(128, 0, 128, 0.3);
font-family: 'Arial', sans-serif;
position: relative;
}

.container {
/* max-width: 1200px; */
margin: 0 auto;
padding: 0 24px 0 0;
display: flex;
justify-content: space-between;
align-items: center;
height: 64px;
}

.logo {
color: white;
font-size: calc(var(--index));
font-weight: bold;
letter-spacing: 1px;
}

.menuDesktop {
display: none;
align-items: center;
gap: 32px;
}

.menuItem {
color: white;
text-decoration: none;
font-weight: 500;
transition: color 0.3s ease;
/* font-size: calc(var(--index)*0.01); */
}

.menuItem:hover {
color: #b06bf6;
}

.loginButton {
padding: 6px 16px;
background-color: #6b21a8;
border-radius: 8px;
color: white;
text-decoration: none;
font-weight: 500;
box-shadow: 0 4px 8px rgba(107, 33, 168, 0.3);
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.loginButton:hover {
background-color: #8b5cf6;
box-shadow: 0 6px 12px rgba(107, 33, 168, 0.5);
}

.mobileButton {
display: flex;
align-items: center;
color: white;
font-size: 1.5rem;
background: none;
border: none;
cursor: pointer;
}

@media (max-width:1500px){
    .menuItem{
        font-size: calc(var(--index)*0.1);
    }
}

/* Responsive */
@media (min-width: 768px) {
.menuDesktop {
display: flex;
}
.mobileButton {
display: none;
}
.menuMobile {
display: none;
}
}
