/* components/Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(128, 0, 128, 0.3);
  font-family: "Arial", sans-serif;
  /* position: relative; */
}

.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 24px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  color: white;
  font-size: calc(var(--index));
  font-weight: bold;
  letter-spacing: 1px;
}

.menuDesktop {
  /* display: none; */
  align-items: center;
  display: flex;
  gap: 32px;
}

.menuItem {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  /* font-size: calc(var(--index)*0.01); */
}

.menuItem:hover {
  color: #b06bf6;
}

.mobileMenu {
  display: none;
  position: relative;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.mobileMenuItem {
  right: 15px;
  width: 160px;
  padding: 10px 0;
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  color: white;
  text-wrap-mode: nowrap;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  transition: 1s;
}
.back_page {
  position: absolute;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
@media (max-width: 1650px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 1500px) {
  .menuItem {
    font-size: calc(var(--index) * 0.1);
  }
}
@media (max-width: 1450px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1250px) {
  .container {
    width: 100vw;
    padding: 0 24px 0 20px;
  }
}

/* Responsive */
@media (max-width: 950px) {
  .menuDesktop {
    display: none;
  }
  .mobileMenu {
    display: block;
  }

  .logo {
    font-size: 20px;
  }
  .mobileMenuItem {
    font-size: 15px;
    padding: 5px 0;
    width: 145px;
    right: -10px;
    top: -10px;
  }
}
/* @media (max-width: 500px) {
  .mobileMenuItem {
    font-size: 15px;
    padding: 5px 0;
    width: 140px;
    right: -10px;
    top: -10px;
  }
} */
