.wrapper {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  backdrop-filter: blur(20px);
  background: radial-gradient(
    circle at top,
    rgba(58, 190, 249, 0.2),
    rgba(0, 0, 0, 0.6)
  );

  transition: all 0.9s ease;
}

/* Состояния */
.hideSite {
  transform: scale(0);
  opacity: 0;
  border-radius: 50%;
}
.accent {
  color: #3abef9;
}

.chatMode {
  backdrop-filter: blur(55px);
  background: rgba(0, 0, 0, 0.65);
}

/* Заголовок */
.title {
  max-width: 900px;
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
  white-space: pre-line;
  color: white;
  /* text-align: left; */
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.subtitle {
  max-width: 620px;
  color: #b8b8b8;
  font-size: 1.05rem;
  margin-bottom: 2.5rem;
  opacity: 0;
  transform: translateY(10vh);
  animation: subtitleIn 2s ease forwards;
  /* text-align: left; */
}

/* Кнопки */
.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: min(380px, 85vw);
  padding: 1.3rem 2.4rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  opacity: 0;
  transform: translateY(40px);
  /* animation-delay: 2s; */
  animation: buttonIn 1s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button span {
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.85;
}

/* Варианты */
.first {
  background: rgba(255, 255, 255, 0.95);
  color: #0b0e13;
  /* animation-delay: 0.4s; */
  animation-delay: 1s;
}

.first:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 12px 35px rgba(255, 255, 255, 0.25);
}

.second {
  background: linear-gradient(135deg, #3abef9, #2fa4dc);
  color: #fff;
  /* animation-delay: 0.6s; */
  animation-delay: 1.2s;
}

.second:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 14px 40px rgba(58, 190, 249, 0.45);
}

/* Анимации */
@keyframes buttonIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes subtitleIn {
  0%{
    transform: translateY(10vh);
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* AI glow */
.wrapper::before {
  content: "";
  position: absolute;
  width: 420px;
  height: 420px;
  background: radial-gradient(
    circle,
    rgba(58, 190, 249, 0.25),
    transparent 70%
  );
  filter: blur(110px);
  top: -150px;
  right: -150px;
}

.wrapper > * {
  position: relative;
  z-index: 1;
}
