*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.work_space{
  max-width: 1600px;
  margin-left: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Inter", sans-serif;
}