* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0;
}

:root {
  --index: 1vw + 1vh;
}
input,
textarea {
  font-size: 16px;
}

.work_space {
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  display: grid;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Inter", sans-serif;
}
.glow {
  position: fixed;
  bottom: 30vh;
  width: 70%;
  height: 400px;
  background: radial-gradient(
    ellipse at center,
    rgba(58, 190, 249, 0.3) 0%,
    transparent 70%
  );
  filter: blur(100px);
  z-index: 0;
  animation: scaleAndGo 3s infinite;
}

@media (max-width: 1650px) {
  .work_space {
    max-width: 1400px;
  }
}
@media (max-width: 1450px) {
  .work_space {
    max-width: 1200px;
  }
}
@media (max-width: 1250px) {
  .work_space {
    margin-left: 20px;
  }
}
.content_layout {
  margin: 10vh 0 0 0;
  height: 70vh;
  overflow-y: scroll;
}
@media (max-width: 680px) {
  .content_layout {
    height: 78vh;
  }
}
